// 引入 css 变量文件
@import '../../style/base.scss';
@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-space;

.#{$comp} {
  @include reset-component();

  display: inline-flex;
}

.#{$comp}--align-start {
  align-items: flex-start;
}

.#{$comp}--align-center {
  align-items: center;
}

.#{$comp}--align-baseline {
  align-items: baseline;
}

.#{$comp}--align-end {
  align-items: flex-end;
}

.#{$comp}--vertical {
  flex-direction: column;
}

.#{$comp}--wrap {
  flex-wrap: wrap;
}
