// 前缀

$prefix: kpi;

$prefix-icon: #{$prefix}-icon;

// $kpi-screen: (
//   xs: 480px,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1600px,
// );

// 响应式断点

$breakpoint-xs: 575px;

$breakpoint-sm: 576px;

$breakpoint-md: 768px;

$breakpoint-lg: 992px;

$breakpoint-xl: 1200px;

$breakpoint-xxl: 1600px;

$map-break-point: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
);
