@use 'sass:math';

$name: #{$prefix}-col;

@mixin generate-grid($size: null, $count: 24) {
  $col-name: if($size, $name + '-' + $size, $name);

  @for $col from 0 through $count {
    @if $col == 0 {
      .#{$col-name}-#{$col} {
        display: none;
      }
    } @else {
      $percent: math.percentage(math.div($col, $count));
      .#{$col-name}-#{$col} {
        display: block;
        flex: 0 0 $percent;
        max-width: $percent;
      }
      .#{$col-name}-push-#{$col} {
        left: $percent;
      }
      .#{$col-name}-pull-#{$col} {
        right: $percent;
      }
      .#{$col-name}-offset-#{$col} {
        margin-left: $percent;
      }
      .#{$col-name}-order-#{$col} {
        order: $col;
      }
    }
  }
}
