// 引入 css 基础配置文件
@import '../../style/base.scss';
@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-button;

.#{$comp} {
  @include reset-component();

  // color
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-text);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-primary);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-primary-active);
  --#{$prefix}-btn-color-border: var(--#{$prefix}-color-border);
  --#{$prefix}-btn-color-border-hover: var(--#{$prefix}-color-primary-hover);
  --#{$prefix}-btn-color-border-active: var(--#{$prefix}-color-primary-active);
  --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-bg);
  --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-bg);
  --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-bg);

  // size
  --#{$prefix}-btn-height: #{$ink-btn-height};
  --#{$prefix}-btn-padding: #{$ink-btn-padding};
  --#{$prefix}-btn-font: #{$ink-btn-font-size};

  // radius
  --#{$prefix}-btn-radius: var(--#{$prefix}-border-radius);

  // outline
  --#{$prefix}-btn-color-outline: var(--#{$prefix}-color-primary-hover);

  @include btn-base();
  @include btn-radius(var(--#{$prefix}-border-radius));

  // size
  height: var(--#{$prefix}-btn-height);
  padding: var(--#{$prefix}-btn-padding);
  color: var(--#{$prefix}-btn-color-text);
  font-size: var(--#{$prefix}-btn-font);
  background-color: var(--#{$prefix}-btn-color-bg);
  border-color: var(--#{$prefix}-btn-color-border);

  // shape
  border-radius: var(--#{$prefix}-btn-radius);

  &:hover {
    color: var(--#{$prefix}-btn-color-text-hover);
    background-color: var(--#{$prefix}-btn-color-bg-hover);
    border-color: var(--#{$prefix}-btn-color-border-hover);
  }

  &:active {
    color: var(--#{$prefix}-btn-color-text-active);
    background-color: var(--#{$prefix}-btn-color-bg-active);
    border-color: var(--#{$prefix}-btn-color-border-active);
  }

  &:focus-visible {
    outline-color: var(--#{$prefix}-btn-color-outline);
    outline-offset: $ink-btn-outline-offset;
  }
}
.#{$comp}--theme-success {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-success);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-success-hover);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-success-active);
  --#{$prefix}-btn-color-border: var(--#{$prefix}-color-success);
  --#{$prefix}-btn-color-border-hover: var(--#{$prefix}-color-success-hover);
  --#{$prefix}-btn-color-border-active: var(--#{$prefix}-color-success-active);
  --#{$prefix}-btn-color-outline: var(--#{$prefix}-color-success-hover);
}

.#{$comp}--theme-warning {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-warning);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-warning-hover);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-warning-active);
  --#{$prefix}-btn-color-border: var(--#{$prefix}-color-warning);
  --#{$prefix}-btn-color-border-hover: var(--#{$prefix}-color-warning-hover);
  --#{$prefix}-btn-color-border-active: var(--#{$prefix}-color-warning-active);
  --#{$prefix}-btn-color-outline: var(--#{$prefix}-color-warning-hover);
}

.#{$comp}--theme-danger {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-error);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-error-hover);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-error-active);
  --#{$prefix}-btn-color-border: var(--#{$prefix}-color-error);
  --#{$prefix}-btn-color-border-hover: var(--#{$prefix}-color-error-hover);
  --#{$prefix}-btn-color-border-active: var(--#{$prefix}-color-error-active);
  --#{$prefix}-btn-color-outline: var(--#{$prefix}-color-error-hover);
}

.#{$comp}--theme-info {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-info);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-info-hover);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-info-active);
  --#{$prefix}-btn-color-border: var(--#{$prefix}-color-info);
  --#{$prefix}-btn-color-border-hover: var(--#{$prefix}-color-info-hover);
  --#{$prefix}-btn-color-border-active: var(--#{$prefix}-color-info-active);
  --#{$prefix}-btn-color-outline: var(--#{$prefix}-color-info-hover);
}

.#{$comp}--variant-filled {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-white);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-white);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-white);
  --#{$prefix}-btn-color-border: transparent;
  --#{$prefix}-btn-color-border-hover: transparent;
  --#{$prefix}-btn-color-border-active: transparent;
  --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-primary);
  --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-primary-hover);
  --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-primary-active);

  &.#{$comp}--theme-success {
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-success);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-success-hover);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-success-active);
  }

  &.#{$comp}--theme-warning {
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-warning);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-warning-hover);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-warning-active);
  }

  &.#{$comp}--theme-danger {
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-error);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-error-hover);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-error-active);
  }

  &.#{$comp}--theme-info {
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-info);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-info-hover);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-info-active);
  }
}

.#{$comp}--variant-filled {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-white);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-white);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-white);
  --#{$prefix}-btn-color-border: transparent;
  --#{$prefix}-btn-color-border-hover: transparent;
  --#{$prefix}-btn-color-border-active: transparent;
  --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-primary);
  --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-primary-hover);
  --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-primary-active);

  &.#{$comp}--theme-success {
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-success);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-success-hover);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-success-active);
  }

  &.#{$comp}--theme-warning {
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-warning);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-warning-hover);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-warning-active);
  }

  &.#{$comp}--theme-danger {
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-error);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-error-hover);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-error-active);
  }

  &.#{$comp}--theme-info {
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-info);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-info-hover);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-info-active);
  }
}

.#{$comp}--variant-dashed {
  border-style: dashed;
}

.#{$comp}--variant-text {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-text-regular);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-primary);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-primary-active);
  --#{$prefix}-btn-color-border: transparent;
  --#{$prefix}-btn-color-border-hover: transparent;
  --#{$prefix}-btn-color-border-active: transparent;
  --#{$prefix}-btn-color-bg: transparent;
  --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-fill-light);
  --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-fill-dark);

  &.#{$comp}--theme-success {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-success);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-success-hover);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-success-active);
  }

  &.#{$comp}--theme-warning {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-warning);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-warning-hover);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-warning-active);
  }

  &.#{$comp}--theme-danger {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-error);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-error-hover);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-error-active);
  }

  &.#{$comp}--theme-info {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-info);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-info-hover);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-info-active);
  }
}

.#{$comp}--variant-link {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-primary);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-primary-hover);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-primary-active);
  --#{$prefix}-btn-color-border: transparent;
  --#{$prefix}-btn-color-border-hover: transparent;
  --#{$prefix}-btn-color-border-active: transparent;
  --#{$prefix}-btn-color-bg: transparent;
  --#{$prefix}-btn-color-bg-hover: transparent;
  --#{$prefix}-btn-color-bg-active: transparent;

  &.#{$comp}--theme-success {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-success);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-success-hover);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-success-active);
  }

  &.#{$comp}--theme-warning {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-warning);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-warning-hover);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-warning-active);
  }

  &.#{$comp}--theme-danger {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-error);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-error-hover);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-error-active);
  }

  &.#{$comp}--theme-info {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-info);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-info-hover);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-info-active);
  }
}

.#{$comp}--size-small {
  --#{$prefix}-btn-height: #{$ink-btn-height-sm};
  --#{$prefix}-btn-padding: #{$ink-btn-padding-sm};
  --#{$prefix}-btn-font: #{$ink-btn-font-size-sm};
}

.#{$comp}--size-large {
  --#{$prefix}-btn-height: #{$ink-btn-height-lg};
  --#{$prefix}-btn-padding: #{$ink-btn-padding-lg};
  --#{$prefix}-btn-font: #{$ink-btn-font-size-lg};
}

.#{$comp}--shape-round {
  --#{$prefix}-btn-radius: var(--#{$prefix}-border-radius-round);
}

.#{$comp}--shape-circle {
  --#{$prefix}-btn-padding: 0;

  width: $ink-btn-height;

  --#{$prefix}-btn-radius: var(--#{$prefix}-border-radius-circle);

  &.#{$comp}--size-sm {
    width: $ink-btn-height-sm;
  }

  &.#{$comp}--size-lg {
    width: $ink-btn-height-lg;
  }
}

.#{$comp}--block {
  width: 100%;
}

.#{$comp}--ghost {
  --#{$prefix}-btn-color-bg: transparent;
  --#{$prefix}-btn-color-bg-hover: transparent;
  --#{$prefix}-btn-color-bg-active: transparent;
}

// .#{$comp}--loading {
// }

// TODO: 优化禁用时的颜色
.#{$comp}--disabled {
  --#{$prefix}-btn-color-text: var(--#{$prefix}-color-text-placeholder);
  --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-text-placeholder);
  --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-text-placeholder);
  --#{$prefix}-btn-color-border: var(--#{$prefix}-color-border);
  --#{$prefix}-btn-color-border-hover: var(--#{$prefix}-color-border);
  --#{$prefix}-btn-color-border-active: var(--#{$prefix}-color-border);
  --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-background);
  --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-background);
  --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-background);

  &.#{$comp}--theme-success,
  &.#{$comp}--theme-warning,
  &.#{$comp}--theme-danger,
  &.#{$comp}--theme-info {
    --#{$prefix}-btn-color-text: var(--#{$prefix}-color-text-placeholder);
    --#{$prefix}-btn-color-text-hover: var(--#{$prefix}-color-text-placeholder);
    --#{$prefix}-btn-color-text-active: var(--#{$prefix}-color-text-placeholder);
    --#{$prefix}-btn-color-border: var(--#{$prefix}-color-border);
    --#{$prefix}-btn-color-border-hover: var(--#{$prefix}-color-border);
    --#{$prefix}-btn-color-border-active: var(--#{$prefix}-color-border);
    --#{$prefix}-btn-color-bg: var(--#{$prefix}-color-background);
    --#{$prefix}-btn-color-bg-hover: var(--#{$prefix}-color-background);
    --#{$prefix}-btn-color-bg-active: var(--#{$prefix}-color-background);
  }
}
