.skeleton {
  padding: var(--mink-unit-4);
  .skeleton_item {
    height: var(--mink-unit-5);
    background: linear-gradient(
      90deg,
      var(--mink-color-fill-secondary) 25%,
      var(--mink-color-fill) 37%,
      var(--mink-color-fill-secondary) 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite ease;
    border-radius: var(--mink-unit-1_5);

    &:nth-child(1) {
      width: 38%;
    }

    &:nth-child(2) {
      width: 100%;
      margin-top: var(--mink-unit-6);
      animation-delay: 5ms;
    }

    &:nth-child(3) {
      width: 100%;
      margin-top: var(--mink-unit-4);
      animation-delay: 10ms;
    }

    &:nth-child(4) {
      width: 61%;
      margin-top: var(--mink-unit-4);
      animation-delay: 15ms;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
