@import '../variables.scss'; // 引入变量

.#{$prefix}-form-item-message-error {
  &-enter-from,
  &-exit-to {
    transform: translate3d(0, -5px, 0);
    opacity: 0;
  }

  &-enter-active,
  &-exit-active {
    overflow: hidden;
    transition:
      height var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out),
      opacity var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out),
      transform var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out);
  }
}
