@import '../variables.scss'; // 引入变量

.#{$prefix}-zoom-fast {
  &-enter-from,
  &-exit-to {
    transform: scale(0.8);
    opacity: 0;
  }

  &-enter-active {
    transition:
      opacity var(--#{$prefix}-motion-duration-1_5) var(--#{$prefix}-motion-ease-out-circ),
      transform var(--#{$prefix}-motion-duration-1_5) var(--#{$prefix}-motion-ease-out-circ);
    pointer-events: none;
  }

  &-exit-active {
    transition:
      opacity var(--#{$prefix}-motion-duration-1_5) var(--#{$prefix}-motion-ease-in-out-circ),
      transform var(--#{$prefix}-motion-duration-1_5) var(--#{$prefix}-motion-ease-in-out-circ);
    pointer-events: none;
  }
}
