// 引入 css 基础配置文件
@import '../../style/base.scss';

$comp: #{$prefix}-touch-effect;

.#{$comp}-wave {
  --wave-color: var(--#{$prefix}-color-primary);

  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: inherit;
  box-shadow: 0 0 0 0 var(--wave-color);
  opacity: 0.25;
  animation: #{$prefix}-wave 2s var(--#{$prefix}-motion-ease-out-circ);
  pointer-events: none;

  @keyframes #{$prefix}-wave {
    0% {
      box-shadow: 0 0 0 0 var(--wave-color);
    }

    20% {
      box-shadow: 0 0 0 6px var(--wave-color);
    }

    100% {
      box-shadow: 0 0 0 6px var(--wave-color);
      opacity: 0;
    }
  }
}
