// 引入 css 基础配置文件
@import '../../style/base.scss';
@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-modal;

.#{$comp} {
  @include reset-component();

  position: relative;
  top: 100px;
  width: 520px;
  max-width: calc(100vw - var(--#{$prefix}-unit-8));
  margin: 0 auto;
  padding-bottom: var(--#{$prefix}-unit-6);
  pointer-events: none;

  &__close-btn {
    position: absolute;
    top: var(--#{$prefix}-unit-5);
    right: var(--#{$prefix}-unit-6);
    width: var(--#{$prefix}-unit-4);
    height: var(--#{$prefix}-unit-4);
    padding: 0;

    // color: ;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:focus-visible {
      outline-width: var(--#{$prefix}-line-width);
      outline-color: var(--#{$prefix}-color-primary);
      outline-offset: calc(var(--#{$prefix}-unit-1) - var(--#{$prefix}-line-width));
    }

    .#{$prefix}-icon.icon-close {
      color: var(--#{$prefix}-color-icon);
      transition: color var(--#{$prefix}-motion-duration-2);

      &:hover {
        color: var(--#{$prefix}-color-icon-hover);
      }
    }
  }

  &__main {
    position: relative;
    padding: var(--#{$prefix}-unit-5) var(--#{$prefix}-unit-6);
    background-color: var(--#{$prefix}-color-bg-container);
    border-radius: var(--#{$prefix}-border-radius);
    box-shadow: var(--#{$prefix}-box-shadow);
    pointer-events: auto;
  }

  &__header {
    margin-bottom: var(--#{$prefix}-unit-2);
  }

  &__title {
    display: inline-block;
    margin-right: var(--#{$prefix}-unit-3);
    color: var(--#{$prefix}-color-text);
    font-weight: var(--#{$prefix}-font-weight-strong);
    font-size: var(--#{$prefix}-font-size);
    line-height: var(--#{$prefix}-line-height);
    word-wrap: break-word;
  }

  &__body {
    font-size: var(--#{$prefix}-font-size);
    word-wrap: break-word;
  }

  &__footer {
    margin-top: var(--#{$prefix}-unit-3);
    text-align: end;

    .#{$prefix}-button + .#{$prefix}-button {
      margin-left: var(--#{$prefix}-unit-2);
    }
  }

  &-mask {
    @include full-screen();

    background-color: var(--#{$prefix}-color-bg-mask);
    pointer-events: none;
  }

  &-wrapper {
    @include full-screen();
  }
}
