@import '../mixins/reset.scss';

[class^='#{$prefix}-'],
[class*='#{$prefix}-'] {
  // remove the clear button of a text input control in IE10+
  &::-ms-clear,
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include reset-component();

  background-color: var(--#{$prefix}-color-bg-base);
}


.#{$prefix} {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  >*{
    line-height: 1;
  }

  svg{
    display: inline-block;
  }
}
