// 引入 css 基础配置文件
@import '../../style/base.scss';
@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-checkbox;

.#{$comp} {
  @include reset-component();

  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover .#{$comp}__input {
    border-color: var(--#{$prefix}-color-primary);
  }
}

.#{$comp}__original {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  margin: 0;
  outline: none;
  opacity: 0;

  &:focus-visible + .#{$comp}__input {
    outline-color: var(--#{$prefix}-color-primary-active);
    outline-offset: $ink-checkbox-outline-offset;
  }
}

.#{$comp}__input {
  position: relative;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
  width: $ink-checkbox-input-width;
  height: $ink-checkbox-input-height;
  background-color: var(--#{$prefix}-color-bg);
  border: 1px solid var(--#{$prefix}-color-border);
  border-radius: var(--#{$prefix}-border-radius-sm);
  outline: transparent solid $ink-checkbox-outline-width;
  transition: $ink-checkbox-input-transition;

  &::after {
    position: absolute;
    top: 50%;
    left: calc($ink-checkbox-arrow-width / 2);
    box-sizing: border-box;
    width: $ink-checkbox-arrow-width;
    height: $ink-checkbox-arrow-height;
    border: 2px solid var(--#{$prefix}-color-white);
    border-top: 0;
    border-left: 0;
    transform: scale(0) rotate(45deg) translate(-50%, -50%);
    transition: $ink-checkbox-arrow-transition-enter;
    content: '';
  }
}

.#{$comp}__label {
  padding: 0 8px;
  color: var(--#{$prefix}-color-text);
}

.#{$comp}--checked {
  .#{$comp}__input {
    background-color: var(--#{$prefix}-color-primary);
    border-color: var(--#{$prefix}-color-primary);

    &::after {
      transform: scale(1) rotate(45deg) translate(-50%, -50%);
      transition: $ink-checkbox-arrow-transition-exit;
    }
  }

  &:hover {
    &.#{$comp}__input {
      border-color: var(--#{$prefix}-color-primary-hover);

      // background-color: var(--#{$prefix}-color-primary-active);
    }
  }
}

.#{$comp}-group {
  @include reset-component();
}

.#{$comp}--disabled {
  cursor: not-allowed;
}
