// 引入 css 基础配置文件
@import '../../style/base.scss';
@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-divider;

.#{$comp} {
  @include reset-component();

  border-top: $ink-divider-border;
}

.#{$comp}__inner-text {
  display: inline-block;
  padding: $ink-divider-margin-inner-text;
}

.#{$comp}--horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: $ink-divider-margin-horizontal;

  &.#{$comp}--with-text {
    // 设定了文字
    margin: $ink-divider-margin-with-text;
    color: $ink-divider-color-text;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: none;
    display: flex;
    align-items: center;
    &::before,
    &::after {
      content: '';
      border-top: $ink-divider-border;
    }

    &.#{$comp}-plain {
      font-weight: 400;
      font-size: 14px;
    }

    &.#{$comp}--dashed {
      &::before,
      &::after {
        border-top-style: dashed;
      }
    }
  }
}

.#{$comp}--dashed {
  border-top-style: dashed;
}

.#{$comp}--align-left {
  @include divider-percent(5%);

  &.#{$comp}--custom-margin {
    @include divider-percent(0%);
  }
}

.#{$comp}--align-center {
  @include divider-percent(50%);
}

.#{$comp}--align-right {
  @include divider-percent(95%);

  &.#{$comp}--custom-margin {
    @include divider-percent(100%);
  }
}

.#{$comp}--vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: $ink-divider-margin-vertical;
  vertical-align: middle;
  border-top: none;
  border-left: $ink-divider-border;

  &.#{$comp}--dashed {
    border-left-style: dashed;
  }
}
