$kpi-divider-border: 1px solid var(--#{$prefix}-color-border);

$kpi-divider-color-text: var(--#{$prefix}-color-text);

$kpi-divider-margin-horizontal: 24px 0;

$kpi-divider-margin-vertical: 0 8px;

$kpi-divider-margin-with-text: 16px 0;

$kpi-divider-margin-inner-text: 0 16px;
