$ink-divider-border: 1px solid var(--#{$prefix}-color-border);

$ink-divider-color-text: var(--#{$prefix}-color-text);

$ink-divider-margin-horizontal: 24px 0;

$ink-divider-margin-vertical: 0 8px;

$ink-divider-margin-with-text: 16px 0;

$ink-divider-margin-inner-text: 0 16px;
