// 引入 css 基础配置文件
@import '../../style/base.scss';
@import './tokens.scss';

$comp: #{$prefix}-badge;

.#{$comp} {
  @include reset-component();

  position: relative;
  display: inline-block;
  width: fit-content;

  &__indicator {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    z-index: 1;
    height: $mink-badge-indicator-height;
    padding: 0 var(--#{$prefix}-unit-2);
    color: var(--#{$prefix}-color-bg-container);
    line-height: $mink-badge-indicator-height;
    background-color: var(--#{$prefix}-color-error);
    border-radius: $mink-badge-indicator-radius;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
  }

  &-scroll-group {
    display: inline-block;
    height: 100%;
    overflow: hidden;
  }

  &-scroll-number {
    display: flex;
    flex-direction: column;
  }

  &-scroll-number-motion {
    &-enter-active {
      transition: transform var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out);
    }
    &-exit-done {
      display: none;
    }
  }

  &-scroll-group-motion {
    &-enter-from,
    &-exit-to {
      opacity: 0;
    }

    &-enter-active,
    &-exit-active {
      will-change: width;
      transition:
        opacity var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out),
        width var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out);
    }

    &-exit-done {
      display: none;
    }
  }
}

.#{$comp}--dot {
}
