@use "sass:map";

@mixin media($break-point: md, $type: min) {
  $width: map.get(
    $map: $map-break-point,
    $key: $break-point,
  );

  @if $width {
    @media screen and (#{$type}-width: $width) {
      @content;
    }
  } @else {
    @media screen and (#{$type}-width: $break-point) {
      @content;
    }
  }
}
