// 引入 css 基础配置文件
@import '../../style/base.scss';
@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-form;

.#{$comp} {
  @include reset-component();
}

.#{$comp}-item {
  @include reset-component();

  margin-bottom: $form-item-margin-bottom;
  vertical-align: top;
}

.#{$comp}-item__label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;

  > label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: var(--#{$prefix}-unit-8);
    color: var(--#{$prefix}-color-text);
    font-size: var(--#{$prefix}-font-size);

    &::after {
      position: relative;
      top: -0.5px;
      margin: $form-item-label-colon-margin;
      content: '\a0';
    }
  }

  &--required {
    > label::before {
      display: inline-block;
      margin-right: 4px;
      color: var(--#{$prefix}-color-error);
      font-size: var(--#{$prefix}-font-size);
      line-height: 1;
      content: '*';
    }
  }

  &--has-colon {
    > label::after {
      content: ':' !important;
    }
  }

  &--wrap {
    overflow: unset;
    white-space: unset;
  }
}

.#{$comp}-item__control-status {
  display: flex;
}

.#{$comp}-item__control-extra {
  @include form-item-tip();
}

.#{$comp}-item-message {
  width: 100%;

  @include form-item-tip();

  &--error {
    color: var(--#{$prefix}-color-error);
  }

  &--warning {
    color: var(--#{$prefix}-color-warning);
  }

  &-motion {
    &-enter-from,
    &-exit-to {
      transform: translate3d(0, -5px, 0);
      opacity: 0;
    }

    &-enter-active,
    &-exit-active {
      user-select: none;
      will-change: height;
      transition:
        height var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out),
        opacity var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out),
        transform var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-in-out);
    }

    &-exit-done {
      display: none !important;
    }
  }
}
