@use 'prismjs/themes/prism.css';
@use '@mink-ui/core/style/components.scss';
@use './motion.scss';

html,
body,
#root {
  height: 100%;

  scrollbar-width: thin;
  scrollbar-color: var(--mink-color-fill) transparent;
}

.better-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--mink-color-fill) transparent;
  scrollbar-gutter: stable;
}

[id^='component-grid-example'] {
  .mink-row {
  }
  .mink-col {
  }
}
