.code-collapse-motion {
  &-exit-active,
  &-enter-active {
    overflow: hidden;
    transition:
      height 250ms ease-in-out,
      opacity 200ms ease-in-out;
  }

  &-enter-from,
  &-exit-to {
    opacity: 0;
  }

  &-exit-done {
    display: none;
  }
}

.page-transition-motion {
  &-exit-to,
  &-enter-from {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  &-exit-active,
  &-enter-active {
    transition:
      opacity 200ms ease-in-out,
      transform 200ms ease-in-out;
  }

  &-exit-done {
    display: none;
  }
}

.sider-menu-motion {
  &-exit-to,
  &-enter-from {
    opacity: 0;
    transform: translate3d(-5px, 0, 0);
  }

  &-exit-active,
  &-enter-active {
    overflow: hidden;
    transition:
      opacity 200ms ease-in-out,
      transform 200ms ease-in-out;
  }

  &-exit-done {
    display: none;
  }
}
