@mixin reset-component() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--#{$prefix}-color-text);
  font-size: var(--#{$prefix}-font-size);
  font-family: var(--#{$prefix}-font-family);
  line-height: var(--#{$prefix}-line-height);
  list-style: none;
}
