// 引入 css 基础配置文件
@import '../../style/base.scss';
@import './tokens.scss';

$comp: #{$prefix}-notification;

.#{$comp} {
  position: fixed;

  &--stack {
    .#{$comp}-notice-wrapper {
      position: absolute;
      right: 0;
      margin-bottom: 0;
      pointer-events: auto;
    }

    &:not(.#{$comp}--expanded) {
      .#{$comp}-notice-wrapper {
        &:nth-last-child(2),
        &:nth-last-child(3) {
          background-color: var(--#{$prefix}-color-bg-blur);
          backdrop-filter: blur(10px);
          .#{$comp}-notice {
            opacity: 0;
          }
        }

        &:nth-last-child(n + 4) {
          opacity: 0;
          overflow: hidden;
          pointer-events: none;
        }
      }
    }
  }

  &--bottomRight {
    right: var(--#{$prefix}-margin-lg);
    &.#{$comp}--stack {
      .#{$comp}-notice-wrapper {
        bottom: 0;
        right: 0;
      }
    }
    .#{$comp}-motion-enter-from {
      transform: translate3d(100%, 0, 0);
    }
  }

  &--topRight {
    right: var(--#{$prefix}-margin-lg);
    &.#{$comp}--stack {
      .#{$comp}-notice-wrapper {
        top: 0;
        right: 0;
      }
    }
    .#{$comp}-motion-enter-from {
      transform: translate3d(100%, 0, 0);
    }
  }
  &--topLeft {
    left: var(--#{$prefix}-margin-lg);
    &.#{$comp}--stack {
      .#{$comp}-notice-wrapper {
        top: 0;
        left: 0;
      }
    }
    .#{$comp}-motion-enter-from {
      transform: translate3d(-100%, 0, 0);
    }
  }
  &--bottomLeft {
    left: var(--#{$prefix}-margin-lg);
    &.#{$comp}--stack {
      .#{$comp}-notice-wrapper {
        bottom: 0;
        left: 0;
      }
    }
    .#{$comp}-motion-enter-from {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

.#{$comp}-motion {
  &-enter-from {
    opacity: 0;
  }

  &-enter-active {
    user-select: none;
    transition: all var(--#{$prefix}-motion-duration-3);
  }

  &-enter-to {
    transform: translate3d(0, 0, 0) !important;
  }

  &-exit-active {
    user-select: none;
    z-index: -1;
    transition: all var(--#{$prefix}-motion-duration-3);
  }

  &-exit-to {
    opacity: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &-exit-done {
    display: none !important;
  }
}

.#{$comp}-notice-wrapper {
  margin-bottom: var(--#{$prefix}-margin-lg);
  background-color: var(--#{$prefix}-color-bg-elevated);
  border-radius: var(--#{$prefix}-border-radius);
  box-shadow: var(--#{$prefix}-box-shadow);
  width: var(--#{$prefix}-unit-96);
  transition: all var(--#{$prefix}-motion-duration-3);
}

.#{$comp}-pointer-holder {
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: var(--#{$prefix}-color-transparent);
}

.#{$comp}-notice {
  @include reset-component();
  padding: var(--#{$prefix}-padding-md) var(--#{$prefix}-padding-lg);
  display: flex;
  align-items: flex-start;
  transition: opacity var(--#{$prefix}-motion-duration-3);

  &__content {
    flex: 1;
  }

  &__message {
    margin-bottom: var(--#{$prefix}-margin-xs);
  }

  &__icon {
    margin-inline-end: var(--#{$prefix}-unit-3);
    font-size: var(--#{$prefix}-unit-6);
  }

  &__close-btn {
    height: var(--#{$prefix}-line-height);
    line-height: var(--#{$prefix}-line-height);
    width: var(--#{$prefix}-line-height);
    font-size: var(--#{$prefix}-font-size-xl);
    background-color: var(--#{$prefix}-color-transparent);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin-inline-start: var(--#{$prefix}-unit-2);
    transition:
      background-color var(--#{$prefix}-motion-duration-2),
      color var(--#{$prefix}-motion-duration-2);
    color: var(--#{$prefix}-color-icon);
    border-radius: var(--#{$prefix}-border-radius);

    &:hover {
      background-color: var(--#{$prefix}-color-bg-text-hover);
      color: var(--#{$prefix}-color-icon-hover);
    }

    &:active {
      background-color: var(--#{$prefix}-color-bg-text-active);
    }
  }

  &--info {
    .#{$comp}-notice__icon {
      color: var(--#{$prefix}-color-info);
    }
  }
  &--warning {
    .#{$comp}-notice__icon {
      color: var(--#{$prefix}-color-warning);
    }
  }
  &--error {
    .#{$comp}-notice__icon {
      color: var(--#{$prefix}-color-error);
    }
  }
  &--success {
    .#{$comp}-notice__icon {
      color: var(--#{$prefix}-color-success);
    }
  }
}
