// 引入 css 基础配置文件
@import '../../style/base.scss';
@import './tokens.scss';

$comp: #{$prefix}-notification;

.#{$comp} {
  @include reset-component();

  &-list {
    position: fixed;
    right: 0;
    top: 0;
  }

  &-panel {
    padding: 20px;
  }

  &-notice {
    position: absolute;
    box-shadow: var(--#{$prefix}-box-shadow);
    padding: 24px;
    background-color: #ccc;
    border: 1px solid;
    margin: 20px;
    right: 0;
    top: 0;
  }

  &-motion {
    &-enter-from {
      opacity: 0;
    }
    &-exit-to {
      opacity: 0;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &-enter-active,
    &-exit-active {
      overflow: hidden;
      user-select: none;
      transition:
        transform var(--#{$prefix}-motion-duration-3)
          var(--#{$prefix}-motion-ease-in-out),
        opacity var(--#{$prefix}-motion-duration-3)
          var(--#{$prefix}-motion-ease-in-out),
        height var(--#{$prefix}-motion-duration-3)
          var(--#{$prefix}-motion-ease-in-out),
        padding-top var(--#{$prefix}-motion-duration-3)
          var(--#{$prefix}-motion-ease-in-out),
        padding-bottom var(--#{$prefix}-motion-duration-3)
          var(--#{$prefix}-motion-ease-in-out),
        margin-top var(--#{$prefix}-motion-duration-3)
          var(--#{$prefix}-motion-ease-in-out),
        margin-bottom var(--#{$prefix}-motion-duration-3)
          var(--#{$prefix}-motion-ease-in-out);
      will-change: height, padding, margin;
    }
  }
}
