.markdown_block {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--ink-color-fill) transparent;
  scrollbar-gutter: stable;
  p,
  pre {
    margin: 0;
  }

  :global(.language-shell) {
    margin: var(--ink-unit-4) 0;
    display: inline-block;
    padding: var(--ink-unit-4);
    border-radius: var(--ink-unit-1);
    background-color: var(--ink-color-primary-bg);
  }

  pre {
    width: max-content;
  }
}

// .markdown {
//   color: rgba(0, 0, 0, 0.88);
//   font-size: 14px;
//   line-height: 2;
// }
// .highlight {
//   line-height: 1.5;
// }
// .markdown img {
//   max-width: calc(100% - 32px);
//   max-height: 100%;
// }
// .markdown > a > img,
// .markdown > img {
//   display: block;
//   margin: 0 auto;
// }
// .markdown p > img,
// .markdown li > img {
//   margin: 34px auto;
//   box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
//   display: block;
// }
// .markdown p > img.markdown-inline-image {
//   margin: 0;
//   box-shadow: none;
// }
// .markdown h1 {
//   margin-top: 8px;
//   margin-bottom: 20px;
//   color: rgba(0, 0, 0, 0.88);
//   font-weight: 500;
//   font-size: 30px;
//   font-family:
//     Avenir,
//     -apple-system,
//     BlinkMacSystemFont,
//     'Segoe UI',
//     Roboto,
//     'Helvetica Neue',
//     Arial,
//     'Noto Sans',
//     sans-serif,
//     'Apple Color Emoji',
//     'Segoe UI Emoji',
//     'Segoe UI Symbol',
//     'Noto Color Emoji',
//     sans-serif;
//   line-height: 38px;
// }
// .markdown h1 .subtitle {
//   -webkit-margin-start: 12px;
//   margin-inline-start: 12px;
// }
// .markdown h2 {
//   font-size: 24px;
//   line-height: 32px;
// }
// .markdown h2,
// .markdown h3,
// .markdown h4,
// .markdown h5,
// .markdown h6 {
//   clear: both;
//   margin: 1.6em 0 0.6em;
//   color: rgba(0, 0, 0, 0.88);
//   font-weight: 500;
//   font-family:
//     Avenir,
//     -apple-system,
//     BlinkMacSystemFont,
//     'Segoe UI',
//     Roboto,
//     'Helvetica Neue',
//     Arial,
//     'Noto Sans',
//     sans-serif,
//     'Apple Color Emoji',
//     'Segoe UI Emoji',
//     'Segoe UI Symbol',
//     'Noto Color Emoji',
//     sans-serif;
// }
// .markdown h3 {
//   font-size: 18px;
// }
// .markdown h4 {
//   font-size: 16px;
// }
// .markdown h5 {
//   font-size: 14px;
// }
// .markdown h6 {
//   font-size: 12px;
// }
// .markdown hr {
//   clear: both;
//   height: 1px;
//   margin: 24px 0;
//   background: rgba(5, 5, 5, 0.06);
//   border: 0;
// }
// .markdown p,
// .markdown pre {
//   margin: 1em 0;
// }
// .ant-row-rtl .markdown p,
// .ant-row-rtl .markdown pre {
//   direction: rtl;
//   text-align: right;
// }
// .markdown ul > li,
// .markdown ol > li {
//   -webkit-padding-start: 4px;
//   padding-inline-start: 4px;
//   -webkit-margin-start: 20px;
//   margin-inline-start: 20px;
// }
// .markdown ul > li > p,
// .markdown ol > li > p {
//   margin: 0.2em 0;
// }
// .markdown ul > li:empty,
// .markdown ol > li:empty {
//   display: none;
// }
// .markdown ul > li {
//   list-style-type: circle;
// }
// .markdown ol > li {
//   list-style-type: decimal;
// }
// .markdown code {
//   margin: 0 1px;
//   padding: 0.2em 0.4em;
//   font-size: 0.9em;
//   background: rgba(0, 0, 0, 0.04);
//   border: 1px solid rgba(5, 5, 5, 0.06);
//   border-radius: 4px;
// }
// .markdown pre {
//   font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
//   background: rgba(0, 0, 0, 0.04);
//   border-radius: 6px;
// }
// .markdown pre code {
//   margin: 0;
//   padding: 0;
//   overflow: auto;
//   color: rgba(0, 0, 0, 0.88);
//   font-size: 13px;
//   direction: ltr;
//   text-align: left;
//   background-color: #f5f5f5;
//   border: none;
// }
// .markdown strong,
// .markdown b {
//   font-weight: 500;
// }
// .markdown .dumi-default-source-code {
//   margin: 1em 0;
//   background-color: rgba(0, 0, 0, 0.04);
//   border-radius: 6px;
// }
// .markdown .dumi-default-source-code > pre.prism-code {
//   scrollbar-width: thin;
//   scrollbar-gutter: stable;
//   padding: 12px 20px;
//   font-size: 14px;
//   line-height: 2;
// }
// .pic-plus > * {
//   display: inline-block !important;
//   vertical-align: middle;
// }
// .pic-plus span {
//   margin: 0 20px;
//   color: #aaa;
//   font-size: 30px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
// .markdown table td > a:not(:last-child) {
//   -webkit-margin-end: 0 !important;
//   margin-inline-end: 0 !important;
// }
// .markdown table td > a:not(:last-child)::after {
//   position: relative !important;
// }
// .markdown blockquote {
//   margin: 1em 0;
//   -webkit-padding-start: 0.8em;
//   padding-inline-start: 0.8em;
//   color: rgba(0, 0, 0, 0.65);
//   font-size: 90%;
//   border-left: 4px solid rgba(5, 5, 5, 0.06);
// }
// .rtl .markdown blockquote {
//   -webkit-padding-end: 0.8em;
//   padding-inline-end: 0.8em;
//   -webkit-padding-start: 0;
//   padding-inline-start: 0;
//   border-right: 4px solid rgba(5, 5, 5, 0.06);
//   border-left: none;
// }
// .markdown blockquote p {
//   margin: 0;
// }
// .markdown .anchor {
//   -webkit-margin-start: 8px;
//   margin-inline-start: 8px;
//   opacity: 0;
//   -webkit-transition: opacity 0.3s;
//   transition: opacity 0.3s;
// }
// .rtl .markdown .anchor {
//   -webkit-margin-end: 8px;
//   margin-inline-end: 8px;
//   -webkit-margin-start: 0;
//   margin-inline-start: 0;
// }
// .markdown .waiting {
//   color: #ccc;
//   cursor: not-allowed;
// }
// .markdown a.edit-button {
//   display: inline-block;
//   -webkit-margin-start: 8px;
//   margin-inline-start: 8px;
//   -webkit-text-decoration: none;
//   text-decoration: none;
// }
// .rtl .markdown a.edit-button {
//   -webkit-margin-end: 8px;
//   margin-inline-end: 8px;
//   -webkit-margin-start: 0;
//   margin-inline-start: 0;
//   -webkit-transform: rotateY(180deg);
//   -moz-transform: rotateY(180deg);
//   -ms-transform: rotateY(180deg);
//   transform: rotateY(180deg);
// }
// .markdown a.edit-button .anticon {
//   display: block;
//   color: rgba(0, 0, 0, 0.65);
//   font-size: 16px;
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
// }
// .markdown a.edit-button .anticon:hover {
//   color: rgba(0, 0, 0, 0.88);
// }
// .markdown h1:hover .anchor,
// .markdown h2:hover .anchor,
// .markdown h3:hover .anchor,
// .markdown h4:hover .anchor,
// .markdown h5:hover .anchor,
// .markdown h6:hover .anchor {
//   display: inline-block;
//   opacity: 1;
// }
// .markdown > br,
// .markdown > p > br {
//   clear: both;
// }
// .markdown .dumi-default-table-content {
//   scrollbar-width: thin;
//   scrollbar-gutter: stable;
// }
// .markdown .dumi-default-table table {
//   margin: 0;
//   overflow-x: auto;
//   overflow-y: hidden;
//   direction: ltr;
//   empty-cells: show;
//   border: 1px solid rgba(5, 5, 5, 0.06);
//   border-collapse: collapse;
//   border-spacing: 0;
// }
// .markdown .dumi-default-table table th,
// .markdown .dumi-default-table table td {
//   padding: 12px 24px;
//   text-align: left;
//   border: 1px solid rgba(5, 5, 5, 0.06);
// }
// .markdown .dumi-default-table table th:first-child,
// .markdown .dumi-default-table table td:first-child {
//   border-left: 1px solid rgba(5, 5, 5, 0.06);
// }
// .markdown .dumi-default-table table th:last-child,
// .markdown .dumi-default-table table td:last-child {
//   border-right: 1px solid rgba(5, 5, 5, 0.06);
// }
// .markdown .dumi-default-table table th img,
// .markdown .dumi-default-table table td img {
//   max-width: unset;
// }
// .markdown .dumi-default-table table th {
//   color: #5c6b77;
//   font-weight: 500;
//   white-space: nowrap;
//   background: rgba(0, 0, 0, 0.02);
//   border-width: 1px 1px 2px;
// }
// .markdown .dumi-default-table table tbody tr {
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
// }
// .markdown .dumi-default-table table tbody tr:hover {
//   background: rgba(60, 90, 100, 0.04);
// }
// .markdown .dumi-default-table table.component-api-table {
//   margin: 0;
//   overflow-x: auto;
//   overflow-y: hidden;
//   font-size: 13px;
//   font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
//   line-height: 1.5714285714285714;
//   border: 1px solid rgba(5, 5, 5, 0.06);
//   border-width: 0 1px;
// }
// .markdown .dumi-default-table table.component-api-table th {
//   border-width: 1px 0 2px;
// }
// .markdown .dumi-default-table table.component-api-table td {
//   border-width: 1px 0;
// }
// .markdown .dumi-default-table table.component-api-table td:first-child {
//   width: 18%;
//   min-width: 58px;
//   color: rgba(0, 0, 0, 0.88);
//   font-weight: 600;
//   white-space: nowrap;
// }
// .markdown .dumi-default-table table.component-api-table td:nth-child(2) {
//   min-width: 160px;
// }
// .markdown .dumi-default-table table.component-api-table td:nth-child(3) {
//   width: 22%;
//   color: #c41d7f;
//   font-size: 13px;
// }
// .markdown .dumi-default-table table.component-api-table td:nth-child(4) {
//   width: 15%;
//   font-size: 13px;
// }
// .markdown .dumi-default-table table.component-api-table td:nth-child(5) {
//   width: 8%;
//   font-size: 13px;
// }
// .markdown .dumi-default-table table.component-api-table td:nth-last-child(3):first-child {
//   width: 38%;
// }
// .markdown .dumi-default-table table.component-api-table td:nth-last-child(3):first-child ~ td:nth-last-child(2) {
//   width: 70%;
// }
// .markdown .dumi-default-table tr:has(td:first-child > del) {
//   color: #faad14 !important;
//   background-color: #fffbe6 !important;
//   display: -webkit-box;
//   display: -webkit-var(--antd-site-api-deprecated-display, none);
//   display: -ms-var(--antd-site-api-deprecated-display, none) box;
//   display: var(--antd-site-api-deprecated-display, none);
// }
// .markdown .dumi-default-table tr:has(td:first-child > del) del {
//   color: #faad14;
// }
// .markdown .dumi-default-table tr:has(td:first-child > del):hover del {
//   -webkit-text-decoration: none;
//   text-decoration: none;
// }
// .grid-demo .ant-row > div,
// [id^='grid-demo-'] .ant-row > div,
// .grid-demo .code-box-demo .ant-row > div,
// [id^='grid-demo-'] .code-box-demo .ant-row > div {
//   min-height: 30px;
//   margin-top: 8px;
//   margin-bottom: 8px;
//   color: #fff;
//   text-align: center;
//   border-radius: 0;
// }
// .grid-demo .code-box-demo .ant-row > div:not(.gutter-row),
// [id^='grid-demo-'] .code-box-demo .ant-row > div:not(.gutter-row) {
//   padding: 16px 0;
//   background: #1677ff;
// }
// .grid-demo .code-box-demo .ant-row > div:not(.gutter-row):nth-child(2n + 1),
// [id^='grid-demo-'] .code-box-demo .ant-row > div:not(.gutter-row):nth-child(2n + 1) {
//   background: #1677ffbf;
// }
// .grid-demo .ant-row .demo-col,
// [id^='grid-demo-'] .ant-row .demo-col,
// .grid-demo .code-box-demo .ant-row .demo-col,
// [id^='grid-demo-'] .code-box-demo .ant-row .demo-col {
//   margin-top: 0;
//   margin-bottom: 0;
//   padding: 30px 0;
//   color: #fff;
//   font-size: 18px;
//   text-align: center;
//   border: none;
// }
// .grid-demo .ant-row .demo-col-1,
// [id^='grid-demo-'] .ant-row .demo-col-1 {
//   background: #1677ff;
// }
// .grid-demo .ant-row .demo-col-2,
// [id^='grid-demo-'] .ant-row .demo-col-2,
// .grid-demo .code-box-demo .ant-row .demo-col-2,
// [id^='grid-demo-'] .code-box-demo .ant-row .demo-col-2 {
//   background: #1677ff;
// }
// .grid-demo .ant-row .demo-col-3,
// [id^='grid-demo-'] .ant-row .demo-col-3,
// .grid-demo .code-box-demo .ant-row .demo-col-3,
// [id^='grid-demo-'] .code-box-demo .ant-row .demo-col-3 {
//   color: #999;
//   background: rgba(255, 255, 255, 0.2);
// }
// .grid-demo .ant-row .demo-col-4,
// [id^='grid-demo-'] .ant-row .demo-col-4,
// .grid-demo .code-box-demo .ant-row .demo-col-4,
// [id^='grid-demo-'] .code-box-demo .ant-row .demo-col-4 {
//   background: #1677ff;
// }
// .grid-demo .ant-row .demo-col-5,
// [id^='grid-demo-'] .ant-row .demo-col-5,
// .grid-demo .code-box-demo .ant-row .demo-col-5,
// [id^='grid-demo-'] .code-box-demo .ant-row .demo-col-5 {
//   color: #999;
//   background: rgba(255, 255, 255, 0.2);
// }
// .grid-demo .code-box-demo .height-100,
// [id^='grid-demo-'] .code-box-demo .height-100 {
//   height: 100px;
//   line-height: 100px;
// }
// .grid-demo .code-box-demo .height-50,
// [id^='grid-demo-'] .code-box-demo .height-50 {
//   height: 50px;
//   line-height: 50px;
// }
// .grid-demo .code-box-demo .height-120,
// [id^='grid-demo-'] .code-box-demo .height-120 {
//   height: 120px;
//   line-height: 120px;
// }
// .grid-demo .code-box-demo .height-80,
// [id^='grid-demo-'] .code-box-demo .height-80 {
//   height: 80px;
//   line-height: 80px;
// }
// [id='grid-demo-playground'] > .code-box-demo .ant-row > div,
// [id='grid-demo-gutter'] > .code-box-demo .ant-row > div {
//   margin-top: 0;
//   margin-bottom: 0;
// }
